{% block content %}
{% load static%}
<html>
<head>
<style>
 #container{
  position:absolute;
  top:48%;
  left:50%;
  transform:translate(-50%,-50%);
}
</style>
</head>

<body>
  <div id="container" style="width: 70%;">
    <canvas id="pie-chart"></canvas>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>
      var config = {
      type: 'pie',
      data: {
        datasets: [{
          data: {{ data|safe }},
          backgroundColor: [
            '#111144', '#661166', '#881111', '#ff66ff', '#ff9933' ,'#253996','#d9534f' ,'#a78a6d','#5cb85c','#fff46c','#428bca'
          ],
          label: ''
        }],
        labels: {{ labels|safe }}
      
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>
  </body>
</html>
{% endblock %}