{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
            <div>
<!--                | means OR operator-->
            </div>
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <small>Only accepts CSV files</small>
        <button onclick="funct()" type="submit">Upload</button>
        <script>
        function funct() {
    alert("File uploaded Sucessfully !");
}
        </script>
    </form>
</body>
</html>